@font-face {
    font-family: "SentyTEA";
    src: url("./SentyTEA.ttf");
    /* IE */
    src: url("./SentyTEA.ttf") format("truetype");
    /*non-IE*/
}

* {
    font-family: "SentyTEA";
    font-size:110%;
}
